* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.top {
  /* display: flex;
  justify-content: space-between; */
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  /* background-color: #c0edeea6; */
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.input-box {
  width: 80%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  height: 40px;
  width: 40px;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  margin-left: 5px;
  padding: 8px;
  border-radius: 5px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-floor {
  display: flex;
  min-width: 200px;
  background-color: #3ccace5c;
  border-radius: 10px;
  color: gray;
}

.nav-up{
  display: flex;
}

.nav-down{
  float: left;
}

.label-select {
  display: block;
}

.label {
  display:block;
  float: left;
  width:150px;
}

.search-select {
  position: absolute;
  top: 40px;
  width: 100%;
  background: #072A24;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}



.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}