<% breadcrumb :search_items %>
<%= render "shared/header" %>
<% if @results.present? %>
  <ul class='item-lists'>
    <% @results.each do |item| %>
      <%= render partial: "shared/item", locals: {item: item} %>
  <% end %>
<% else %>
    <p>一致する商品がありません。条件を変えて検索してみよう！</p>
<% end %>
    </ul>
<%= render "shared/footer" %>